/*
 * minimal css you can use to print the stuff in /problems
 * onto paper using Firefox in a reasonable way
 * */

body {margin:0 0 0 0; width:100%; height:100%; font-size:8pt; line-height:16pt; color:Black; background-color:White; background-image:none!important;}
h1, h2, h3 {text-shadow:none; break-after:avoid; break-inside:avoid;}
p, ul, ol, li, details, blockquote, aside, pre code, pre samp {margin:4pt 0 12pt 8pt; padding-left:0; widows:3; orphans:3; break-inside:auto;}
img, figure, table {break-inside:avoid;}
table {font-size:8pt;}
ol, ul, dl {break-before:avoid;}
ol {list-style-type:numeric;}
ol ol {list-style-type:lower-alpha;}
ol ol ol {list-style-type:lower-roman;}
ol ol ol ol {list-style-type:lower-greek;}
a, a:link, a:visited {color:Black; text-decoration:none!important;}
kbd {border:1pt solid OldLace; box-shadow:none;}
pre, code, samp {background-color:OldLace;}
thead, tfoot, th {background-color:OldLace;}
th, td {padding:1ex 1ex 1ex 1ex; border:1pt solid OldLace;}
tbody tr:nth-child(odd) {background-color:White;}
tbody tr:nth-child(even) {background-color:OldLace;}
tbody td:nth-child(odd) {background-color:White;}
tbody td:nth-child(even) {background-color:OldLace;}
blockquote {background:OldLace;}
aside {color:DimGray;}
hr {display:block; height:1pt; margin:1em 0 1em 0;background:Black;}
figure {display:flex; flex-wrap:wrap; justify-content:space-evenly; align-items:flex-start; align-content:flex-start; row-gap:8pt; overflow:hidden; vertical-align:center; max-width:100%; margin:8pt auto 8pt auto; padding-top:0;}
figure img, figure table, figure div, figure pre {display:block; height:auto; max-width:100%; margin:1pt 4pt 0 4pt;}
figure figcaption {width:100%; font-size:8pt; position:relative; text-align:center; color:color-mix(in srgb, var(--foreground) calc(200%/3), var(--background));}

.katex {padding:0 1pt 0 1pt;}
.name {margin:0.4in 0 0.2in 0; border-bottom:1px solid Black;}
.name::before {content:"Name: "}
.hide {display:none;}
.hfill {flex-grow:1;}

@media only screen {
    .print {display:none;}
    .spoiler {filter:opacity(0.5) blur(2pt); cursor:pointer;}
    .spoiler+figcaption {visibility:hidden;}
    .spoiler:hover {filter:none;}
    .spoiler:hover+figcaption {visibility:visible;}
}

@media only print {
    @page {size:letter; margin:0.8in 0.2in 0.2in 0in;}
    .screen {display:none;}

    .skip-third {padding-bottom: 0.333in;}
    .skip-half {padding-bottom: 0.5in;}
    .skip-one {padding-bottom: 1in;}
    .skip-one-half {padding-bottom: 1.5in;}
    .skip-two {padding-bottom: 2in;}
    .skip-two-half {padding-bottom: 2.5in;}
    .skip-three {padding-bottom: 3in;}
    .skip-three-half {padding-bottom: 3.5in;}
    .skip-four {padding-bottom: 4in;}
    .skip-four-half {padding-bottom: 4.5in;}
    .skip-five {padding-bottom: 5in;}
    .skip-six {padding-bottom: 6in;}
    .skip-page {break-after: page;}

    .squint {color:#dddddd;}
}
